// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// MAIN
// -----------------------------------------------------------------------------

.home-main {
  height: 100vh;
  background: url(../img/home-hero_bw.jpg) 30% no-repeat fixed;
  display: flex;
  justify-content: flex-end;
}

.main-text {
  width: 25em;
  color: #fff;
  margin-right: 5em;
}

// -----------------------------------------------------------------------------
// Présentation
// -----------------------------------------------------------------------------

.container-home-prez {
  display: grid;
  @include grid-basic(1fr 2fr, 0.2fr 1fr, 0);
  grid-template-areas:
    "h2 h2"
    "home-prez-img home-prez-text";
  margin-bottom: 5em;
  border: 0.2em solid $primary-color;
  margin: 3em;
  padding-bottom: 5em;
}

.home-prez-img {
  grid-area: home-prez-img;
  filter: grayscale(50%);
  text-align: center;
}

.home-prez-img img {
  width: 70%;
}

.home-prez-text {
  grid-area: home-prez-text;
  width: 80%;
  text-align: justify;
}

// -----------------------------------------------------------------------------
// Préstations
// -----------------------------------------------------------------------------

.container-home-price {
  display: grid;
  @include grid-basic(repeat(3, 1fr), 0.2fr 1fr, 0, 2em);
  grid-template-areas:
    "h2 h2 h2"
    "price-pregnancy price-newborn price-baby";
  text-align: center;
  width: 90vw;
  margin: auto;
}

.container-home-price p {
  text-align: justify;
}

.price-pregnancy {
  grid-area: price-pregnancy;
}

.price-newborn {
  grid-area: price-newborn;
}

.price-baby {
  grid-area: price-baby;
}

.container-home-price figure,
.container-home-price img {
  width: 100%;
}

// -----------------------------------------------------------------------------
// Blog
// -----------------------------------------------------------------------------

.container-home-blog {
  display: grid;
  @include grid-basic(1fr, 0.2fr 1fr, 2em, 0);
  grid-template-areas:
    "h2"
    "home-blog-article1"
    "home-blog-article2";
  margin: auto;
  width: 80vw;
}

.home-blog-article1 {
  border: 0.2em solid #bf8c8c;
  grid-area: home-blog-article1;
  display: flex;
}

.home-blog-article2 {
  border: 0.2em solid #bf8c8c;
  grid-area: home-blog-article2;
  display: flex;
}

.container-home-blog img,
.container-home-blog figure {
  width: 20em;
  height: 17em;
}

.home-blog-text {
  padding: 0em 2em;
}
