// -----------------------------------------------------------------------------
// MAIN - IMAGE RIGHT & TEXT LEFT
// -----------------------------------------------------------------------------

.container-price-right {
  display: grid;
  @include grid-basic(2fr 1fr, 0.2fr 1fr, 0);
  grid-template-areas:
    "h2 h2"
    "price-text-right price-img-right";
  padding-bottom: 2em;
  padding-top: 2em;
  background: radial-gradient(
    circle at 100%,
    $primary-color 30%,
    #ffffff 10%,
    $background-color 75%
  );
  @include mobile-only {
    grid-template-areas:
      "h2"
      "price-img-right"
      "price-text-right";
  }
}

.price-img-right {
  grid-area: price-img-right;
  filter: grayscale(20%);
  width: 20vw;
  @include mobile-only {
    width: 90%;
  }
  img {
    width: 100%;
    margin: 1.5em;
  }
}

.price-text-right {
  grid-area: price-text-right;
  text-align: right;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
  h3 {
    display: flex;
    align-items: flex-end;
  }
  p {
    width: 85%;
  }
  @include mobile-only {
    justify-content: center;
    text-align: justify;
  }
}

// -----------------------------------------------------------------------------
// MAIN - IMAGE LEFT & TEXT RIGHT
// -----------------------------------------------------------------------------

.container-price-left {
  display: grid;
  @include grid-basic(1fr 2fr, 0.2fr 1fr, 0);
  grid-template-areas:
    "h3 h3"
    "price-img-left price-text-left";
  background: radial-gradient(
    circle at 0%,
    #ffffff 30%,
    $primary-color 10%,
    $background-color 95%
  );
  @include mobile-only {
    grid-template-areas:
      "h2"
      "price-img-left"
      "price-text-left";
  }
}

.price-img-left {
  grid-area: price-img-left;
  filter: grayscale(20%);
  width: 20vw;
  margin-left: auto;
  margin-right: 2em;
  @include mobile-only {
    width: 90%;
  }
  img {
    width: 100%;
  }
}

.price-text-left {
  grid-area: price-text-left;
  text-align: left;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  h3 {
    display: flex;
    align-items: flex-end;
    grid-area: h3;
  }
  p {
    width: 85%;
  }
  @include mobile-only {
    justify-content: center;
    text-align: justify;
  }
}

// -----------------------------------------------------------------------------
// TARIFS
// -----------------------------------------------------------------------------

.price-table {
  @include grid-basic(repeat(3, auto), 0.2fr auto, 0);
  grid-template-areas:
    "h2 h2 h2"
    "price-article1 price-article2 price-article3";
  text-align: center;
  ul {
    text-align: left;
  }
  img {
    width: 100%;
  }
  @include mobile-only {
    grid-template-areas: 
    "h2"
    "price-article1"
    "price-article2"
    "price-article3"
  }
}

.price-article1 {
  @include price-article(price-article1);
}

.price-article2 {
  @include price-article(price-article2);
}

.price-article3 {
  @include price-article(price-article3);
}

.price {
  background: $primary-color;
  color: $background-color;
  padding: 0.9em;
}
