// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

nav {
  background: $background-color;
  width: 100vw;
  z-index: 1;
  position: sticky;
  top: 0px;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    @include mobile-only-flex-center {
      padding: 0em;
      column-gap: 1em;
      padding-bottom: 1em;
      :nth-child(4) {
        order: -1;
      }
    }
  }
  li {
    list-style: none;
  }
  a {
    font-size: 1.2em;
  }
}

