// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


nav {
  background: $background-color;
  width: 100vw;
  z-index: 1;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
  }
  li {
    list-style: none;
  }
    a {
      font-size: 1.2em;
    }
}