// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin button-filling($background-color, $border-color, $color) {
  background: $background-color;
  border: 0.1em solid $border-color;
  color: $color;
  &:hover {
    background: $color;
    color: $background-color;
  }
}

@mixin grid-basic($col, $row, $row-gap: null, $column-gap: null) {
  display: grid;
  grid-template-columns: $col;
  grid-template-rows: $row;
  row-gap: $row-gap;
  column-gap: $column-gap;
}

@mixin price-article($grid-area) {
  grid-area: $grid-area;
  margin: 0em 2.5em;
  border: 0.2em solid $primary-color;
  a {
    display: inline-block;
  }
}
