// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin button-filling($background-color, $border-color, $color) {
  background: $background-color;
  border: 0.1em solid $border-color;
  color: $color;
  &:hover {
    background: $color;
    color: $background-color;
  }
}
