// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$text-font-stack: Raleway, sans-serif;
$heading-font-stack: Gwendolyn, cursive;
$text-color: #141414;
$primary-color: #BF8C8C;
$background-color: #ffffff;
$breakpoints: (
  'mobile': 599px,
  'tablet': 768px,
  'desktop': 1024px,
);






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
